<nav class="pagination" aria-label="페이지네이션" th:fragment="pagination"
     th:attr="data-total-pages=${totalPages}">
    <ul class="pagination-list" role="list">
        <li class="page-ctrl">
            <a class="page-btn first" href="#" aria-label="첫 페이지" aria-disabled="true" tabindex="-1">
                <i class="icon icon-arrow-left-end"></i>
            </a>
        </li>
        <li class="page-ctrl">
            <a class="page-btn prev" href="#" aria-label="이전 페이지" aria-disabled="true" tabindex="-1">
                <i class="icon icon-arrow-left"></i>
            </a>
        </li>

        <!-- 숫자 페이지는 JS에서 동적 생성 -->

        <li class="page-ctrl">
            <a class="page-btn next" href="#" aria-label="다음 페이지">
                <i class="icon icon-arrow-right"></i>
            </a>
        </li>
        <li class="page-ctrl">
            <a class="page-btn last" href="#" aria-label="마지막 페이지">
                <i class="icon icon-arrow-right-end"></i>
            </a>
        </li>
    </ul>
</nav>
